body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5;

    background-color: bisque;
}

*
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0 0 5px;
}

.bayan {
    max-width: 500px;
    margin: 20px auto;
}

.bayan:hover {
    color:blueviolet;
}

.bayan-shtuka {
    border: 1px solid green;
    cursor:pointer;
    margin-bottom: 10px;
}

.bayan-input {
    width:0;
    height:0;
    appearance: none;
    web-kit-appearance: none;
}

.bayan-meme {
    display:none;
}

.bayan-input:checked + .bayan-meme {
    display:block;
}

.bayen-title { 
    padding: 10px 15px;
    display:flex;
    justify-content: space-between;
    position: relative;
}
.bayan-title::after { content: '+'}

