body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    line-height: 1.5;
    background-color: bisque;
}

*
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0 0 5%;
}

.bayan {
    width: 50vw;
    height: 50vh;
    margin: 5% auto;
}

.bayan:hover {
    color:blueviolet;
}

.bayan-title:hover::after 
{ display:block;
  content: '+';
  position: absolute;
  right: 5%;
}

.bayan-shtuka {
    border: 0.1rem solid green;
    cursor:pointer;
    margin-bottom: 1%;
}

.bayan-input {
    width:0;
    height:0;
    appearance: none;
    web-kit-appearance: none;
}

.bayan-meme {
    display:none;
}

.bayan-input:checked + .bayan-meme {
    display:block;
}

.bayan-title { 
    padding: 10px 15px;
    display:flex;
    justify-content: space-between;
    position: relative;
}

.bayan-shtuka [open] .bayan-title:hover::after {
    transform: translateY(-50% rotate(90deg));
}
